<!--Create ride menu-->

    <div class="container-fluid create">
        <div class="row">
            <div class="col ">
                <p class="Kalam create-message">Create a ride!</p>
            </div>
        </div>
        <div class="row text-center">
            <form>
                <div class="form-group ">
                    <p class="form-input Montserrat ">Enter destination</p>
                    <input type="text" class="form-control" id="Destination"  placeholder="Enter your destination">
                    <p class="form-input Montserrat ">Departure point</p>
                    <input type="text" class="form-control" id="DeparturePoint"  placeholder="Enter your departure point">
                    <p class="form-input Montserrat">Date</p>
                    <input type="date" class="form-control" id="Date">
                    <p class="form-input Montserrat">Number of free seats</p>
                    <input type="number" class="form-control" id="NoFreeSeats" placeholder="Enter the number of free seats">
                    <p class="form-input Montserrat">Car model</p>
                    <input type="text" class="form-control" id="Car"placeholder="Enter your car model/year of manufacture">
                    <p class="form-input Montserrat">Cost</p>
                    <input type="number" class="form-control" id="Cost" placeholder="Enter trip's cost">
                    <p class="form-input Montserrat">Pets allowed</p>
                    <input type="checkbox" > 
                    <p class="form-input Montserrat">Smoking allowed</p>
                    <input type="checkbox" >
                </div>
                <a class="btn btn-secondary create-button Montserrat" href="/" role="button">Create Ride</a>
            </form>
        </div>
    </div>