<div class="container-fluid window">
    <div class="row">
        <div class="col ">
            <p class="Kalam question">Are you sure you want to exit ride No?</p>
        </div>
    </div>
    <div class="row text-center">   
        <div class="text-center">
            <a class="btn rounded-pill Montserrat button" href="/" role="button">End ride</a>
            <a class="btn rounded-pill Montserrat button" href="/ride" role="button">Go back</a>
        </div>
        
    </div>