<div class="container bg">
            
    <!--Settings Button & User's Profile Photo-->

    
    <div class="row pt-5">
        <img src="/img/img_avatar.png" alt="Avatar" class="avatar mx-auto d-block"> 
    </div>
    
    <!--Profile Name & Drop Down Button for login/logout-->

    
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6 float-none">
                        
            <p class="Montserrat profile-name marg0">Profile name</p> 

        </div>
        <div class="col-3"></div>
    </div>
        

    
    <div class="row pb-5"></div>

    <!--Rides buttons-->
    <div class="row pb-5 middle-button">
        <div class="col-3">
        </div>   
        <div class="col-6">
            <div class="text-center">
                <a class="btn btn-light btn-lg btn-block rounded-pill Kalam" href="/upcoming" role="button">Start a ride</a>
            </div>            
        </div>   
    </div>

    <div class="row  pb-5">
        <div class="col-6">
            <div class="text-center">
                <a class="btn btn-light btn-block rounded-pill Kalam" href="/search" role="button">Search for a ride</a>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center">
                <a class="btn btn-light btn-lg btn-block rounded-pill Kalam" href="/create" role="button">Create ride</a>
            </div>            
        </div>       
    </div>
    <div class="row  middle-button">
        <div class="col-3">
        </div>   
        <div class="col-6 ">
            <div class="text-center">
                <a class="btn btn-light btn-lg btn-block rounded-pill Kalam" href="/pastrides" role="button">Past rides</a>
            </div>            
        </div>   
    </div>
</div>
    
    
