<!--Login Menu-->

<div class="container-fluid login">
        <div class="row">
            <div class="col ">
                <p class="Kalam welcome">Welcome to Car Pool!</p>
            </div>
        </div>


        <div class="row text-center">
            <form>
                <div class="form-group marg0">
                    <p class="form-input Montserrat">Email address</p>
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <p class="form-input Montserrat">Password</p>
                    <input type="password" class="form-control" id="Password" placeholder="Password">
                </div>
                <input type="submit" value="Login" class="btn btn-secondary submit-button block Montserrat" href="/" role="button">
            </form>
            <div class="col">
                <p class="signup-text Montserrat">Don't have an account?</p>
                <a class="btn btn-secondary signup-button block Montserrat" href="/signup" role="button">Sign Up</a>
                
            </div>
                
        </div>
</div>