<!--Messages window-->

<!--Message 1-->

<div class="container-fluid pad0 marg0">
    <div class="row message marg0 pad0">
        <div class="col-2">
            <img src="/img/img_avatar.png" alt="Avatar" class=" float-start mx-auto d-block message-avatar">
        </div>
        <div class="col-2">
            <p class="last_message Montserrat"> User's name</p>
        </div>
        <div class="col-6">
            <p class="message-date Montserrat">Last message</p>
        </div>
        <div class="col-1">
            <button class=" arrow right">
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row message-margin pad0">
    </div>
</div>

<!--Message 2-->

<div class="container-fluid pad0 marg0">
    <div class="row message marg0 pad0">
        <div class="col-2">
            <img src="/img/img_avatar.png" alt="Avatar" class=" float-start mx-auto d-block message-avatar">
        </div>
        <div class="col-2">
            <p class="last_message Montserrat"> User's name</p>
        </div>
        <div class="col-6">
            <p class="message-date Montserrat">Last message</p>
        </div>
        <div class="col-1">
            <button class=" arrow right">
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row message-margin pad0">
    </div>
</div>