<!--Welcome Message-->

<div class="container">
    <div class="row">
        <p class="Montserrat welcome-message">You have 4 past rides!</p> 
    </div>
</div>

<!--Ride 1-->

<div class="container-fluid pad0 marg0">
    <div class="row ride marg0 pad0">
        <div class="col-2">
            <img src="/img/img_avatar.png" alt="Avatar" class=" float-start mx-auto d-block ride-avatar">
        </div>
        <div class="col-2">
            <p class="ride-start Montserrat"> Start: <br>Patra</p>
        </div>
        <div class="col-4">
            <p class="ride-destination Montserrat"> Destination: <br>Athens</p>
        </div>
        <div class="col-3">
            <p class="ride-date Montserrat">Date:<br>5/12/2019</p>
        </div>
        <div class="col-1">
            <a class="arrow right" href="/pastride" role="button"></a>   
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ride-margin pad0">
    </div>
</div>
<!--Ride 2-->

<div class="container-fluid pad0">
    <div class="row ride marg0 pad ride-margin">
        <div class="col-2">
            <img src="/img/img_avatar.png" alt="Avatar" class=" float-start mx-auto d-block ride-avatar">
        </div>
        <div class="col-2">
            <p class="ride-start Montserrat"> Start: <br>Athens</p>
        </div>
        <div class="col-4">
            <p class="ride-destination Montserrat"> Destination: <br>Patra</p>
        </div>
        <div class="col-3">
            <p class="ride-date Montserrat">Date:<br>9/11/2019</p>
        </div>
        <div class="col-1">
             <a class="arrow right" href="/pastride" role="button"></a>   
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ride-margin pad0">
    </div>
</div>

<!--Ride 3-->

<div class="container-fluid pad0 marg0">
    <div class="row ride marg0 pad0">
        <div class="col-2">
            <img src="/img/img_avatar.png" alt="Avatar" class=" float-start mx-auto d-block ride-avatar">
        </div>
        <div class="col-2">
            <p class="ride-start Montserrat"> Start: <br> Patra</p>
        </div>
        <div class="col-4">
            <p class="ride-destination Montserrat"> Destination: <br>Kalamata</p>
        </div>
        <div class="col-3">
            <p class="ride-date Montserrat">Date:<br>3/7/2021</p>
        </div>
        <div class="col-1">
            <a class="arrow right" href="/pastride" role="button"></a>   
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ride-margin pad0"> 
    </div>
</div>

<!--Ride 4-->

<div class="container-fluid pad0 marg0">
    <div class="row ride marg0 pad0">
        <div class="col-2">
            <img src="/img/img_avatar.png" alt="Avatar" class=" float-start mx-auto d-block ride-avatar">
        </div>
        <div class="col-2">
            <p class="ride-start Montserrat"> Start: <br> Patra</p>
        </div>
        <div class="col-4">
            <p class="ride-destination Montserrat"> Destination: <br>Kalamata</p>
        </div>
        <div class="col-3">
            <p class="ride-date Montserrat">Date:<br>3/7/2021</p>
        </div>
        <div class="col-1">
            <a class="arrow right" href="/pastride" role="button"></a>   
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ride-margin pad0"> 
    </div>
</div>