<!--Chat Window-->

<div class="container-fluid chat">
    <div class="row">
        <div class="col-2">
            <img src="/img/img_avatar.png" class="float-end avatar mx-auto d-block " alt="">
        </div>  
        <div class="col-10">
            <p class="Montserrat message">This is a message from user 1</p>
        </div>
    </div>
    <div class="row">
            
        <div class="col-10">
            <p class="Montserrat float-end message">This is a message from user 2</p>
        </div>
        <div class="col-2">
            <img src="/img/img_avatar.png" class="float-start avatar mx-auto d-block " alt="">
        </div>  
    </div>
    <div class="row">
        <div class="col-2">
            <img src="/img/img_avatar.png" class="float-end avatar mx-auto d-block " alt="">
        </div>  
        <div class="col-10">
            <p class="Montserrat message">This is a message from user 1</p>
        </div>
    </div>
    <div class="row">
            
        <div class="col-10">
            <p class="Montserrat float-end message">This is a message from user 2</p>
        </div>
        <div class="col-2">
            <img src="/img/img_avatar.png" class="float-start avatar mx-auto d-block " alt="">
        </div>  
    </div><div class="row">
        <div class="col-2">
            <img src="/img/img_avatar.png" class="float-end avatar mx-auto d-block " alt="">
        </div>  
        <div class="col-10">
            <p class="Montserrat message">This is a message from user 1</p>
        </div>
    </div>
    <div class="row">
            
        <div class="col-10">
            <p class="Montserrat float-end message">This is a message from user 2</p>
        </div>
        <div class="col-2">
            <img src="/img/img_avatar.png" class="float-start avatar mx-auto d-block " alt="">
        </div>  
    </div>
    <br>
    <div class="row">
        <div class="col-9">
            <form name="message" action="">
                <input type="text" class="form-control msg" name="usermsg">
            </form>
        </div>
        <div class="col-3">
                <button class="btn btn-secondary send-button block Montserrat">Send</button>
        </div>
    </div>
    


</div>