<!--Profile Photo & Review Stars-->
    <div class="container">
        <img src="/img/img_avatar.png" alt="Avatar" class="profile-photo mx-auto d-block"> 
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
                <div class="center">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>       
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>


<!-- Personal Info-->

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 pers-info">
            <p class="Montserrat">{{{name}}}</p>
            <p class="Kalam">{{{birthday}}}</p>
            <p class="Kalam">{{{email}}}</p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row bio">
        <p class="Kalam">Bio</p>
        <p class="bio Montserrat">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <div class="text-center">
                <button type="button" class="btn btn-light btn-block rounded-pill Kalam review-button">Go to Reviews</button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>