<!-- Map -->
<div id="map"></div>


<!--End ride button-->
<div class="container">
    <div class="row pt-5">
        <div class="col">
            <div class="text-center">
                <a class="btn btn-light btn-block rounded-pill Kalam" href="/end" role="button">End ride</a>
            </div>
        </div>
    </div>
</div>
<!-- Script for Google Maps. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr8-_z6E1dIgcVSFdanJrqqOi2KeqgNeg&callback=initMap&v=weekly" async></script>

