<!--Create ride menu-->

<div class="container-fluid search">
    <div class="row">
        <div class="col ">
            <p class="Kalam search-message">Search for a ride!</p>
        </div>
    </div>
    <div class="row text-center">
        <form>
            <div class="form-group ">
                <p class="form-input Montserrat ">Enter destination</p>
                <input type="text" class="form-control" id="Destination"  placeholder="Enter your destination">
                <p class="form-input Montserrat ">Departure point</p>
                <input type="text" class="form-control" id="DeparturePoint"  placeholder="Enter your departure point">
                <p class="form-input Montserrat">Date</p>
                <input type="date" class="form-control" id="Date">
                <p class="form-input Montserrat">Number of seats you want</p>
                <input type="number" class="form-control" id="NoFreeSeats" placeholder="Enter the number of free seats">
                <p class="form-input Montserrat">Pets allowed</p>
                <input type="checkbox" > 
                <p class="form-input Montserrat">Smoking allowed</p>
                <input type="checkbox" >
            </div>
             <a class="btn btn-light btn-lg btn-block rounded-pill search-button Montserrat" href="/" role="button">Search for a ride</a>
        </form>
    </div>
</div>