<!--Sign Up Menu-->

<div class="container-fluid signup">
    <div class="row">
        <div class="col ">
            <p class="Kalam register-message">Register to Car Pool!</p>
        </div>
    </div>
    <div class="row text-center">
        <form>
            <div class="form-group ">
                <p class="form-input Montserrat ">Full Name</p>
                <input type="name" class="form-control" id="InputName"  placeholder="Enter your full name">
                <p class="form-input Montserrat ">Email address</p>
                <input type="email" class="form-control" id="InputEmail"  placeholder="Enter email">
                <p class="form-input Montserrat">Password</p>
                <input type="password" class="form-control" id="Password" placeholder="Password">
                <p class="form-input Montserrat">Confirm Password</p>
                <input type="password" class="form-control" id="Password" placeholder="Password">
                <p class="form-input Montserrat">Mobile Phone</p>
                <input type="tel" class="form-control" id="Phone" placeholder="Mobile Phone">
                <p class="form-input Montserrat">Birthday</p>
                <input type="date" class="form-control" id="Birthday" >
            </div>
            <a class="btn btn-secondary signup-button block Montserrat" href="/login" role="button">Sign Up</a>
        </form>
        <div class="col marg0">
            <p class="signup-text Montserrat marg0">Already have an account?</p>
            <a class="btn btn-secondary goback-button block Montserrat" href="/login" role="button">Go Back</a>
        </div>
            
    </div>
</div>