<!--Ride Info-->
<div class="container-fluid marg0 pad0 ride-window">
    <div class="row marg0">
        <di class="col-6">
            <p class="Montserrat info-name">Date & Time:</p>
        </di>
        <div class="col-6">
            <p class="Montserrat information">28/1/2019</p>
        </div>
    </div>
    <div class="row marg0">
        <div class="col-6">
            <p class="Montserrat info-name">Starting Point:</p>
        </div>
        <div class="col-6">
            <p class="Montserrat information">Kalamata's Central Square</p>
        </div>
        
    </div>
    <div class="row marg0">
        <di class="col-6">
            <p class="Montserrat info-name">Cost:</p>
        </di>
        <div class="col-6">
            <p class="Montserrat information">30 &euro;</p>
        </div>
    </div>
    <div class="row marg0">
        <di class="col-6">
            <p class="Montserrat info-name">Pet Allowed:</p>
        </di>
        <div class="col-6">
            <p class="Montserrat information">No</p>
        </div>
    </div>
    <div class="row marg0">
        <di class="col-6">
            <p class="Montserrat info-name">Smoking Allowed:</p>
        </di>
        <div class="col-6">
            <p class="Montserrat information">No</p>
        </div>
    </div>
    <div class="row marg0">
        <di class="col-6">
            <p class="Montserrat info-name">Driver Name:</p>
        </di>
        <div class="col-6">
            <p class="Montserrat information">Driver's name</p>
        </div>
    </div>
    <div class="row marg0">
        <div class="row marg0">
            <di class="col-6">
                <p class="Montserrat info-name">Passenger Names:</p>
            </di>
            <div class="col-6">
                <p class="Montserrat information">Passenger 1 <br> Passenger 2 <br> Passenger 3</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-secondary review-button Montserrat" href="/login" role="button">Start Ride</a>
        </div>
    </div>
</div>