/*General Css*/

.Kalam{
    font-family: 'Kalam', cursive;
    font-size: 18px;
}
.Montserrat{
    font-family: 'Montserrat', cursive;
    font-size: 16px;
}
body{
    background-color: #93D8A2;
}
.pad0{
    padding: 0px;
}
.marg0{
    margin: 0px;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 6px;
    background-color: #93D8A2;
}
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: 30px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 15px;
    margin-left: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*Settings Button*/

.gear{
    width: 100px;
    height: 50px;
    color:grey;
    font-size:36px;
}

/*Bottom Navbar*/

.bottom-navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bottom-nav-left-button{
    color:black;
    background-color: #a5a5a5;
}
.bottom-nav-right-button{
    color:black;
    background-color: #a5a5a5;
}
.bottom-nav-middle-button{
    color:black;
    background-color: #e0e0e0;
}
.block {
    display: block;
    width: 100%;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

/*Avatar and User Name*/

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0px;
    border: 0px;
  }
 .profile-name{
    text-align: center;
}

